$dark: #333333;
$white: #fff;
$tomato: #ea3a49;
$orange: #fb7f16;
$d-blue: #001e3d;
$blue-2: #0074e5;
$blue-3: #4977a8;
$b-blue: #23aeff;
$l-blue: #7fc0ff;
$yellow: #f9f871;
$gray: #ccc;

$title: 130px;
$font-d: 20px;
$font-s: 26px;
$font-xs: 30px;
$font-m: 36px;
$font-l: 40px;
$font-xl: 70px;
