.services__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card-price {
	width: 50%;
	margin-bottom: 50px;

	&:last-child {
		margin-bottom: 0;
	}

	@media (max-width: 991px) {
		width: 100%;
	}
}

.card-price__wrap {
	margin: auto;
	max-width: 450px;

	@media (max-width: 991px) {
		max-width: 90%;
	}

	@media (max-width: 767px) {
		max-width: 100%;
	}
}

.card-price__header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	margin-bottom: 30px;

	@media (max-width: 575px) {
		margin-bottom: 10px;
	}
}

.subtitle--price {
	font-weight: 500;
	margin-bottom: 30px;

	@media (max-width: 767px) {
		font-size: 26px;
	}

	@media (max-width: 575px) {
		margin-bottom: 10px;
		font-size: 22px;
	}
}

.subtitle--social {
	margin-bottom: 0;
}

.social {
	margin-left: 10px;

	&__item {
		width: 30px;
		height: 30px;

		@media (max-width: 575px) {
			width: 20px;
			height: 20px;
		}
	}

	@media (max-width: 575px) {
		margin-left: 5px;
	}

	@media (max-width: 370px) {
		padding-top: 10px;
		margin-left: 0;
	}

	&__item:nth-child(odd) {
		fill: #fb7f16;
	}

	&__item:nth-child(even) {
		fill: #4977a8;
	}
}

.card-price__text {
	@include br;

	&--yellow {
		@include br(#d9a21b);
	}

	&--blue {
		@include br(#457b9d);
	}

	&--green {
		@include br(#13b386);
	}

	&--red {
		@include br($tomato);
	}

	&--lightblue {
		@include br(#c0d3fe);
	}

	p {
		line-height: 1.2;
		margin-bottom: 20px;
	}

	span {
		color: $tomato;
		font-style: italic;
	}

	@media (max-width: 575px) {
		font-size: 18px;
	}
}
