<section class="section footer">
	<div class="container-sm">
		<div class="footer__wrap">
			<div class="footer__row footer__row-top">
				<div class="logo logo-footer">
					<img src="./img/header/logo.png" alt="logo" class="logo__img" />
					<div class="logo__main logo__main-footer">
						<div class="logo__descr logo__descr-footer">Студия веб-дизайна</div>
						<div class="logo__title logo__title-footer">Loweb.ru</div>
					</div>
				</div>
			</div>

			<div class="footer__row footer__row-bottom">
				<div class="info info-footer">
					<div class="info__row">
						<a class="info__link" href="tel:+79056038228">
							<svg class="phone phone--reverse">
								<use xlink:href="img/sprite.svg#phone"></use>
							</svg>
							<span>+7 (905) 603 82 28</span>
						</a>
					</div>
					<div class="info__row">
						<a class="info__link" href="mailto:web@lanoptic.ru">
							<svg class="email">
								<use xlink:href="img/sprite.svg#email"></use>
							</svg>
							<span>web@lanoptic.ru</span>
						</a>
					</div>
				</div>

				<button id="showModalFooter" class="btn btn-footer">Связаться с нами</button>
			</div>
		</div>

		<div class="footer__copyright">
			<p>© 2020 ООО <a class="footer__link" href="http://lanoptic.ru/">“Лан-Оптик”</a></p>
		</div>
	</div>
</section>
