<header class="header">
	<div class="header__wrap">
		<div class="header__column-left">
			<div class="header__column-left__wrap">
				<div class="logo">
					<img src="./img/header/logo.png" alt="logo" class="logo__img" />
					<div class="logo__main">
						<div class="logo__descr">Студия веб-дизайна</div>
						<div class="logo__title">Loweb.ru</div>
					</div>
				</div>

				<div class="header__text">
					<p>дизайн и</p>
					<p>интернет-технологии на</p>
					<p>службе у вашего бизнеса</p>
				</div>

				<div class="info info--mobile">
					<div class="info__row">
						<a class="info__link" href="tel:+79056038228">
							<svg class="phone phone--reverse">
								<use xlink:href="img/sprite.svg#phone"></use>
							</svg>
							<span>+7 (905) 603 82 28</span>
						</a>
					</div>
					<div class="info__row">
						<a class="info__link" href="mailto:web@lanoptic.ru">
							<svg class="email">
								<use xlink:href="img/sprite.svg#email"></use>
							</svg>
							<span> web@lanoptic.ru</span>
						</a>
					</div>
				</div>

				<button id="showModalHeader" class="btn">Связаться с нами</button>
			</div>
		</div>

		<div class="header__column-right">
			<img
				class="header__column-right__bg"
				src="./img/header/header.png"
				alt=""
			/>
			<div class="info info--desktop">
				<div class="info__row">
					<a class="info__link" href="tel:+79056038228">
						<svg class="phone phone--reverse">
							<use xlink:href="img/sprite.svg#phone"></use>
						</svg>
						<span>+7 (905) 603 82 28</span>
					</a>
				</div>
				<div class="info__row">
					<a class="info__link" href="mailto:web@lanoptic.ru">
						<svg class="email">
							<use xlink:href="img/sprite.svg#email"></use>
						</svg>
						<span> web@lanoptic.ru</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
