<section class="section portfolio">
	<div class="container">
		<div class="portfolio__wrap">
			<div class="section-header">
				<h1 class="title">Портфолио</h1>
			</div>

			<div class="portfolio__header">
				<div class="card-portfolio card-portfolio--header">
					<div class="card-portfolio__content">
						<img src="./img/portfolio/kollegia.jpg" alt="" />

						<div class="card-portfolio__links">
							<a
								class="card-portfolio__link"
								href="http://advokat-kimry.ru/"
								target="_blank"
							>
								advokat-kimry.ru
							</a>
						</div>
					</div>

					<div class="card-portfolio__title">
						КА “Кимрская городская коллегия адвокатов”
					</div>

					<!-- Mobile link -->
					<div class="card-portfolio__link-mobile">
						<a
							class="card-portfolio__link card-portfolio__link--mobile"
							href="http://advokat-kimry.ru/"
							target="_blank"
						>
							advokat-kimry.ru
						</a>
					</div>
				</div>

				<div class="card-portfolio card-portfolio--header">
					<div class="card-portfolio__content">
						<img src="./img/portfolio/arktica.jpg" alt="" />

						<div class="card-portfolio__links">
							<a
								class="card-portfolio__link"
								href="http://kimry-arktika.ru/"
								target="_blank"
							>
								kimry-arktika.ru
							</a>
						</div>
					</div>

					<div class="card-portfolio__title">
						Спортивный ледовый комплекс “Арктика”
					</div>

					<!-- Mobile link -->
					<div class="card-portfolio__link-mobile">
						<a
							class="card-portfolio__link card-portfolio__link--mobile"
							href="http://kimry-arktika.ru/"
							target="_blank"
						>
							kimry-arktika.ru
						</a>
					</div>
				</div>
			</div>

			<div class="portfolio__content">
				<div class="card-portfolio">
					<div class="card-portfolio__content card-portfolio__content-main">
						<img src="./img/portfolio/lanoptic.jpg" alt="" />

						<div class="card-portfolio__links">
							<a
								class="card-portfolio__link"
								href="http://vk.com/lanoptic"
								target="_blank"
							>
								vk.com/lanoptic
							</a>

							<a
								class="card-portfolio__link"
								href="http://instagram.com/lanoptic.ru"
								target="_blank"
							>
								instagram.com/lanoptic.ru
							</a>
						</div>
					</div>

					<!-- Mobile slider -->
					<div class="slider">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="slider-lanoptic__img">
										<img src="./img/portfolio/lanoptic-mob_vk.png" alt="" />
									</div>

									<div class="card-portfolio__link-mobile">
										<div class="card-portfolio__title">ООО “ЛАН-Оптик”</div>
										<a
											class="card-portfolio__link card-portfolio__link--mobile"
											href="http://vk.com/lanoptic"
											target="_blank"
										>
											vk.com/lanoptic
										</a>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="slider-lanoptic__img">
										<img src="./img/portfolio/lanoptic-mob_inst.png" alt="" />
									</div>

									<div class="card-portfolio__link-mobile">
										<div class="card-portfolio__title">ООО “ЛАН-Оптик”</div>
										<a
											class="card-portfolio__link card-portfolio__link--mobile"
											href="http://instagram.com/lanoptic.ru"
											target="_blank"
										>
											instagram.com/lanoptic.ru
										</a>
									</div>
								</div>
							</div>

							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>

					<div class="card-portfolio__title card-portfolio__title-desktop">
						ООО “ЛАН-Оптик”
					</div>
				</div>

				<div class="card-portfolio">
					<div class="card-portfolio__content card-portfolio__content-main">
						<img src="./img/portfolio/volzhanka.jpg" alt="" />

						<div class="card-portfolio__links">
							<a
								class="card-portfolio__link"
								href="http://www.cafe-volzhanka.online/"
								target="_blank"
							>
								cafe-volzhanka.online
							</a>

							<a
								class="card-portfolio__link"
								href="http://vk.com/cafevolzhanka.online"
								target="_blank"
							>
								vk.com/cafevolzhanka.online
							</a>
						</div>
					</div>

					<!-- Mobile slider -->
					<div class="slider">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="slider-lanoptic__img">
										<img src="./img/portfolio/volzh-mob_site.png" alt="" />
										<div class="card-portfolio__title">Кафе “Волжанка”</div>
										<div class="card-portfolio__link-mobile">
											<a
												class="card-portfolio__link card-portfolio__link--mobile"
												href="http://www.cafe-volzhanka.online/"
												target="_blank"
											>
												cafe-volzhanka.online
											</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="slider-lanoptic__img">
										<img src="./img/portfolio/volzh-mob_vk.png" alt="" />
										<div class="card-portfolio__title">Кафе “Волжанка”</div>
										<div class="card-portfolio__link-mobile">
											<a
												class="card-portfolio__link card-portfolio__link--mobile"
												href="http://vk.com/cafevolzhanka.online"
												target="_blank"
											>
												vk.com
											</a>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>

					<div class="card-portfolio__title card-portfolio__title-desktop">
						Кафе “Волжанка”
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
