<section class="section process">
	<div class="container">
		<div class="process__wrap">
			<div class="section-header">
				<h1 class="title title--sm">
					САЙТЫ КОМПАНИЙ &bull; ПРОМОСТРАНИЦЫ &bull; ИНТЕРНЕТ-МАГАЗИНЫ &bull;
					ГРУППЫ В СОЦСЕТЯХ
				</h1>
			</div>

			<div class="process__content">
				<div class="card">
					<div class="card__img">
						<img src="./img/process/chat.png" alt="chat" />
					</div>

					<div class="subtitle subtitle--card">1. Концепция</div>
					<ul class="card__text">
						<li>- опеределяем цели разработки</li>
						<li>- планируем список разделов и собираем материал</li>
						<li>- согласовываем бюджет и выбираем средства разработки</li>
					</ul>
				</div>

				<div class="card">
					<div class="card__img">
						<img src="./img/process/design.png" alt="design" />
					</div>

					<div class="subtitle subtitle--card">2. Дизайн</div>
					<ul class="card__text">
						<li>- выбираем цветовую схему и шрифты</li>
						<li>-выбираем стиль элементов оформления</li>
						<li>- разрабатываем макет в формате PSD</li>
					</ul>
				</div>

				<div class="card">
					<div class="card__img">
						<img src="./img/process/web.png" alt="web" />
					</div>

					<div class="subtitle subtitle--card">3. Разработка</div>
					<ul class="card__text">
						<li>- переносим макет на рабочую платформу</li>
						<li>
							- наполняем систему подготовленным материалом и передаём заказчику
							для тестирования
						</li>
						<li>- после согласования проводим “боевой” запуск</li>
					</ul>
				</div>

				<div class="card">
					<div class="card__img">
						<img src="./img/process/seo.png" alt="seo" />
					</div>

					<div class="subtitle subtitle--card">4. Продвижение</div>
					<ul class="card__text">
						<li>
							- проводим SEO-оптимизацию для для поисковых систем Yandex и
							Google
						</li>
						<li>- при необходимости, заказываем рекламу</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
