<section class="section services">
	<div class="container">
		<div class="services__wrap container-sm">
			<div class="section-header">
				<h1 class="title">Услуги</h1>
			</div>

			<div class="services__content">
				<div class="card-price">
					<div class="card-price__wrap">
						<div class="subtitle subtitle--price">1. Промостраница</div>
						<div class="card-price__text card-price__text--yellow">
							<p>
								Простой одностраничный сайт под несколько разрешений (смартфон,
								планшет, ПК). Может содержить описание компании/группы/человека,
								контактную информацию, галерею изображений и форму заявки.
							</p>
							<span>От 20 000руб.</span>
						</div>
					</div>
				</div>

				<div class="card-price">
					<div class="card-price__wrap">
						<div class="subtitle subtitle--price">2. Корпоративный сайт</div>
						<div class="card-price__text card-price__text--blue">
							<p>
								Комплексное решение для компаний с большим числом посещений и
								необходимостью решения сложных задач (например, подбор тура у
								турагенства или онлайн-бронирование в кинотеатре).
							</p>
							<span>От 40 000руб.</span>
						</div>
					</div>
				</div>

				<div class="card-price">
					<div class="card-price__wrap">
						<div class="subtitle subtitle--price">3. Интернет-магазин</div>
						<div class="card-price__text card-price__text--green">
							<p>
								Интернет-магазин на 1C Bitrix с возможностью наполнения
								товарами, категориями товаров и услуг. Интеграция с платежными
								системами, банками и 1С:Управление торговлей. Расылка чеков
								клиентам.
							</p>
							<span>От 50 000руб.</span>
						</div>
					</div>
				</div>

				<div class="card-price">
					<div class="card-price__wrap">
						<div class="subtitle subtitle--price">4. Web-приложение</div>
						<div class="card-price__text card-price__text--red">
							<p>
								Браузерное приложение для внутренего использования в компании.
								Используется для автоматизаци процессов и хранения разнообразных
								данных. Например, систематизация клиентской базы и анализ
								прибыли от заказов по месяцам.
							</p>
							<span>От 30 000руб.</span>
						</div>
					</div>
				</div>

				<div class="card-price">
					<div class="card-price__wrap">
						<div class="card-price__header">
							<h3 class="subtitle subtitle--price subtitle--social">
								Группы в соцсетях
							</h3>

							<div class="social">
								<svg class="social__item">
									<use xlink:href="img/sprite.svg#odnoklassniki"></use>
								</svg>

								<svg class="social__item">
									<use xlink:href="img/sprite.svg#vk"></use>
								</svg>

								<svg class="social__item">
									<use xlink:href="img/sprite.svg#instagram"></use>
								</svg>

								<svg class="social__item">
									<use xlink:href="img/sprite.svg#facebook"></use>
								</svg>
							</div>
						</div>
						<div class="card-price__text card-price__text--lightblue">
							<p>
								Разработка, дизайн и продвижение групп во всех популярных
								социальных сетях. Настройка рекламной компании.
							</p>
							<span>От 10 000руб.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
