<section class="section tools">
	<div class="tools__wrap container-sm">
		<div class="section-header">
			<h1 class="title">Инструменты</h1>
		</div>

		<div class="tools__content">
			<div class="tools__item">
				<img src="./img/tools/1c.png" alt="" />
			</div>
			<div class="tools__item">
				<img src="./img/tools/WordPress.png" alt="" />
			</div>
			<div class="tools__item">
				<img src="./img/tools/Ruby.png" alt="" />
			</div>
			<div class="tools__item">
				<img src="./img/tools/Amazon.png" alt="" />
			</div>
			<div class="tools__item">
				<img src="./img/tools/Reg.png" alt="" />
			</div>
		</div>
	</div>
</section>
